html {
  height: 100%;
}

body {
  background: linear-gradient(
    225deg,
    rgba(217, 154, 219, 255),
    rgba(241, 204, 125, 255) 80%
  );
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.description {
  background: linear-gradient(
    215deg,
    rgba(243, 208, 131, 255),
    rgba(240, 208, 139, 255)
  );
  width: 25%;
  height: 85%;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description p:first-of-type {
  font-family: "Norican", cursive;
  color: rgba(168, 130, 52, 255);
  font-size: 22px;
  width: 60%;
  height: 8%;
  margin-left: 50px;
  margin-top: 50px;
}

.description p:nth-of-type(2) {
  font-family: "Inter", sans-serif;
  color: rgba(135, 100, 18, 255);
  width: 60%;
  height: 25%;
  font-size: 22px;
  font-weight: bolder;
  margin-top: -20px;
  margin-left: 50px;
}

img {
  width: 100%;
  height: 55%;
  align-self: center;
}

.description p:nth-of-type(3) {
  margin-left: 50px;
  font-size: 8px;
  margin-bottom: 50px;
  color: rgba(157, 123, 45, 255);
  font-family: "Inter", sans-serif;
  height: 5%;
}

.data {
  background-color: white;
  height: 85%;
  width: 50%;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.member {
  align-self: flex-end;
  margin: 5% 5% 0 0;
  font-size: 13px;
  color: rgba(65, 65, 65, 255);
}

a {
  color: rgba(89, 150, 182, 255);
  text-decoration: none;
}

.cont_forms {
  margin: 3% 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 45%;
  height: 80%;
  border-radius: 0;
}

.media {
  width: 100%;
  height: 20%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0;
}

.media p:first-of-type {
  font-size: 18px;
  color: rgba(51, 51, 51, 255);
  font-family: "Inter", sans-serif;
  margin: 0;
  align-self: flex-start;
}

.cont_buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 36%;
}

button {
  width: 12%;
  height: 100%;
  background: rgba(242, 242, 242, 255);
  border-color: transparent;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:first-of-type {
  width: 70%;
  background: rgba(67, 133, 245, 255);
}

button:first-of-type a {
  color: white;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  margin: 0;
  font-size: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

i {
  color: rgba(118, 118, 118, 255);
  font-size: 15px;
  margin: 0;
  text-align: center;
  padding: 0;
}

button:first-of-type i {
  color: white;
  margin-right: 15%;
}

.hr {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  margin: 0;
}

hr {
  width: 45%;
  height: 0.1px;
  background: rgb(211, 207, 207);
  border: transparent;
}

.media .hr p {
  font-size: 10px;
  color: rgba(119, 119, 119, 255);
  font-family: "Inter", sans-serif;
}

.cont_forms form {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 11px;
  color: rgba(54, 54, 54, 255);
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

form p{
  height: 7%;
  margin: 10px 0 0 0;
  padding: 0;
}

form .name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7%;
  padding: 0;
  margin: 10px 0 0 0;
  border-radius: 0;
}

form .name p {
  width: 48%;
  height: 100%;
  margin: 0;
}

input{
  height: 11%;
  width: 98%;
  margin: 0;
  padding: 0 0 0 2%;
  background-color: rgba(244, 246, 248, 255);
  border-radius: 5px;
  border: 1px solid transparent;
}

.input_name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 11%;
}

.input_name input{
  height: 100%;
  width: 46%;
}


form .check {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  opacity: 0.7;
}

form .check .checkbox {
  width: 15px;
  height: 15px;
  background: white;
  border-color: rgba(208, 208, 208, 255);
  border-width: 0.2px;

}

form .check p {
  background: white;
  border-color: rgba(208, 208, 208, 255);
  border-width: 0.2px;
  height: 100%;
  font-size: 10px;
  color: rgba(135, 135, 135, 255);
  width: 100%;
  margin: 0 0 0 5px;
  padding: 0;
}

form .site {
  font-size: 8px;
  width: 70%;
  font-weight: 100px;
  color: rgba(207, 207, 207, 255);
  margin: 10px 0 15px 0;
}

form .submit {
  width: 48%;
  height: 12%;
  background-color: rgba(234, 76, 136, 255);
  font-size: 12px;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  color: white;
  margin: 10px 0 30px 0;
  cursor: pointer;
}

form .zip {
  width: 50%;
}

form .btns{
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: space-around;
  margin: 10px 0 60px 0;
}

form .all-info{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form .info{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#form_check .btns{
  margin-bottom: 6px;
}

form .btns .submit{
  height: 100%;
  margin: 0;
}

iframe {
  width: 40%;
  height: 100%;
}

form input:focus {
  background-color: rgb(240, 240, 15, 20%);
}
.data .cont_forms .hidden {
  display: none;
}

.data .cont_forms .error {
  border: rgb(184, 31, 31) 0.05px solid;
}

.show {
  display: block;
}


span {
  color: red;
  font-size: 8px;
  height: 1%;
}

h2 {
  font-family: "Inter", sans-serif;
  color: rgba(135, 100, 18, 255);
  width: 100%;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .description{
    width: 30%;
    height: 90%;
  }

  .data{
    width: 60%;
    height: 90%;
  }

  .cont_forms{
    width: 55%;
  }
}

@media screen and (max-width: 850px) {
  .description{
    width: 35%;
    height: 100%;
  }

  .data{
    width: 65%;
    height: 100%;
  }

  .cont_forms{
    width: 70%;
  }
}



@media screen and (max-width: 650px) {
  .description{
    width: 40%;;
  }

  .data{
    width: 60%;
  }

  .cont_forms{
    width: 90%;
  }
}

@media screen and (max-width:500px) {

  body{
    flex-direction: column;
    height: 200%;
  }

  .description{
    width: 100%;
  }

  .data{
    width: 100%;
  }

  .cont_forms{
    width: 70%;
  }
}
